@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

#login {
    background-image: url('../scss/img/baggrund.svg');
    background-size: cover;
}

#loginBtn {
    background-color: #aa6070;
}

#logo {
    background-color: #047758;
    border: 0;
    padding: 2vmin;
    border-radius: 3vmin;
}

#glemt {
    font-size: 3vmin;
    opacity: 0.9;
}

header {
    position: relative;
    background-color: black;
    height: 60vmin;
    min-height: 30vmin;
    width: 100%;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

body {
    padding-top: 5vmin;
}

header {
    color: black;
    height: 50vmin;
}

nav {
    background-color: #047758;
    color: white;
}

.card {
    margin-top: 4vmin;
}

link {
    text-decoration: none;
    color: white;
}

.card-img-top{ 
    height: 15vw;
    object-fit: cover;
}
a{
    text-decoration: none; 
}
h5, h6{ 
    color:black;
}
h5:hover,h6:hover {
    color:green;
}

button#dropdownMenuButton{
    border: 1px solid white;
    background-color: #628A5F; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 300px;
    border: none;
    border-radius: 15px;
}

.adiv {
    background: #04CB28;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px;
}

.chat {
    border: none;
    background: #E2FFE8;
    font-size: 10px;
    border-radius: 20px;
}

.bg-white {
    border: 1px solid #E7E7E9;
    font-size: 10px;
    border-radius: 20px;
}

.myvideo img {
    border-radius: 20px
}

.dot {
    font-weight: bold;
}

.form-control {
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    font-size: 8px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 8px;
    color: #C4C4C4;
}