//ikon style
.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

span {
    color: white;
    border-radius: 50%;
    border: 0.5vmin solid white;
    padding: 1.2vmin;
}

//ikon style slut

* body {
    margin-top: 10vmin;
}

body {
    box-sizing: border-box !important;
    margin-top: 2vmin !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.section {
    margin-top: 15vmin !important;
    margin-bottom: 15vmin !important;
}

#login {
    background-image: url('../scss/img/baggrund.svg');
    background-size: cover;
}

#loginBtn {
    background-color: #aa6070;
}

#logo {
    background-color: #047758;
    border: 0;
    padding: 2vmin;
    border-radius: 3vmin;
}

#glemt {
    font-size: 3vmin;
    opacity: 0.9;
}

header {
    position: relative;
    background-color: black;
    height: 60vmin;
    min-height: 30vmin;
    width: 100%;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


nav {
    background-color: #047758;
}

.card {
    margin-top: 4vmin;
}

link {
    text-decoration: none;
    color: white;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #444;
}

p {
    color: #444;
}



h5,
h6 {
    color: black;
}

h5:hover,
h6:hover {
    color: green;
}

button#dropdownMenuButton {
    border: 1px solid white;
    background-color: #628A5F;
}

//chat style
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;

}

.chat-app .people-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    object-fit: cover;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
}

.people-list img {
    float: left;
    border-radius: 50%;
}

.people-list .about {
    float: left;
    padding-left: 8px;
    line-height: 5;
}



.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

video {
    width: 100%;
}

@import "../node_modules/bootstrap/scss/bootstrap";