//Farver variabler
$primary-color: #8CC588; //Grøn
$primary-border: #628A5F; // Grøn border
$secondary-color: #F2F1ED; //Hvid m. gul tint.
$secondary-border: #D8D7D4; //Hvid border
$tertiary-color: #D9D9D9; //Lys Grå
$tertiary-border: #B8B5B5; //Lys grå border
$quarternary-color: #353535; // Lys Sort, Kul
$quarternary-border: #0F0E0E; //Lys Sort border
$quinary-color: #E781B0; //Pink
$quinary-border: #B9678D; //Pink border

//Mixin, bruges til at optimere koden. 
@mixin farveBokse($farveColor: black, $farveBackground: white, $farveText: Yellow) {
  margin: 3px;
  padding: 3px;
  border-radius: 10px;
  border: 5px solid $farveColor;
  background-color: $farveBackground;
  color: $farveText;
}
@mixin ikonBokse($direction: row, $wrap: wrap) {
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin buttonColors($color: Black, $background: White, $textColor: Yellow) {
  border: 3px solid $color;
  background-color: $background;
  color: $textColor;
}
@mixin boksColors($boksColor: black, $boksBackground: white, $boksText: Yellow) {
  width: 40vmin;
  margin: 3px;
  padding: 6px;
  border: 3px solid $boksColor;
  background-color: $boksBackground;
  color: $boksText;
}

* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    p {
      font-size: 15px;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
    & body{
      text-align: left;
      background-color: $secondary-color;
      color: $quarternary-color;
    }
    
}

header {
  background-color: $primary-border;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: $secondary-color;
  width: 75%;
  left: 25%;
  top: 0;
  position: absolute;
  h2 {
    font-size: 20px;
  }
}
  
nav {
  background-color: $tertiary-color;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
      ul {
          list-style-type: none;
          padding: 5px;
          margin-top: 10px;
          li {
              padding: 2%;
              a {
                  padding: 6px 8px 6px 16px;
                  text-decoration: none;
                  font-size: 23px;
                  color: $quarternary-color;
                  display: block;
              }
          }
      }
}
  
article {
  margin-left: 28%; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  top: 35vmin;
  position: absolute;
}

#Farver {
  display: flex;
  flex-direction: column;
  .color-palette {
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .primær {
      @include farveBokse($primary-border, $primary-color, $secondary-color)
    }
    .sekundær{
      @include farveBokse($secondary-border, $secondary-color, $quarternary-color)
    }
    .tertiær {
      @include farveBokse($tertiary-border, $tertiary-color, $quarternary-color)
    }
    .kontrast-1 {
      @include farveBokse($quarternary-border, $quarternary-color, $secondary-color)
    }
    .kontrast-2 {
      @include farveBokse($quinary-border, $quinary-color, $secondary-color)
    }
  }
}

.ikon-palette {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $secondary-color;
  border-radius: 10px;
  padding: 3px;
  margin: 3px;
  .icon {
    display: flex;
    &-active {
      @extend .icon;
      @include ikonBokse(row, wrap)
    }
    &-cirkel {
      @extend .icon;
      @include ikonBokse(row, wrap)
    }
    &-passive {
      @extend .icon;
      @include ikonBokse(row, wrap)
    }
    &-billed {
      @extend .icon;
      @include ikonBokse(row, wrap)
    }
    &-andre {
      @extend .icon;
      @include ikonBokse(row, wrap);
      background-color: $quarternary-color;
      border-radius: 10px;
      padding: 3px;
      margin: 3px;
    }
  }

  .icon-andre {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  img {
    width: 10vmin;
    height: 10vmin;
    padding: 3px;
    margin: 3px;
  }
  .big-icon {
    width: 15vmin; 
    height: 10vmin;
  }
}

button {
  width: 25vmin;
  height: 8vmin;
}
//Afrrundede knapper
.rund-button {
  border-radius: 25px;  
  &-1 {
    @extend .rund-button;
    @include buttonColors($primary-border, $primary-color, $secondary-color);
  }
  &-2 {
    @extend .rund-button;
    @include buttonColors($secondary-border, $secondary-color, $quarternary-color);
  }
  &-3 {
    @extend .rund-button;
    @include buttonColors($tertiary-border, $tertiary-color,$quarternary-color);
  }
  &-4 {
    @extend .rund-button;
    @include buttonColors($quarternary-border, $quarternary-color, $secondary-color)
  }
  &-5 {
    @extend .rund-button;
    @include buttonColors($quinary-border, $quinary-color, $secondary-color) 
  }
}
// Kantede knapper
.kant-button {
  border-radius: 5px;
  &-1 {
    @extend .kant-button;
    @include buttonColors($primary-border, $primary-color, $secondary-color)
  }
  &-2 {
    @extend .kant-button;
    @include buttonColors($secondary-border, $secondary-color, $quarternary-color)
  }
  &-3 {
    @extend .kant-button;
    @include buttonColors($tertiary-border, $tertiary-color, $quarternary-color)
  }
  &-4 {
    @extend .kant-button;
    @include buttonColors($quarternary-border, $quarternary-color, $secondary-color)
  }
  &-5 {
    @extend .kant-button;
    @include buttonColors($quinary-border, $quinary-color, $secondary-color)
  }
}

.rund-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .rund-boks {
    border-radius: 10px;
    &-1 {
      @extend .rund-boks;
      @include boksColors($primary-border, $primary-color, $secondary-color)
    }
    &-2 {
      @extend .rund-boks;
      @include boksColors($secondary-border, $secondary-color, $quarternary-color)
    }
    &-3 {
      @extend .rund-boks;
    @include boksColors($tertiary-border, $tertiary-color, $quarternary-color)
    }
    &-4 {
      @extend .rund-boks;
      @include boksColors($quarternary-border, $quarternary-color, $secondary-color)
    }
    &-5 {
      @extend .rund-boks;
      @include boksColors($quinary-border, $quinary-color, $secondary-color)
    }
  }
}

.kant-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .kant-boks {
    border-radius: 3px;
    &-1 {
      @extend .kant-boks;
      @include boksColors($primary-border, $primary-color, $secondary-color)
    }
    &-2 {
      @extend .kant-boks;
      @include boksColors($secondary-border, $secondary-color, $quarternary-color)
    }
    &-3 {
      @extend .kant-boks;
      @include boksColors($tertiary-border, $tertiary-color, $quarternary-color)
    }
    &-4 {
      @extend .kant-boks;
      @include boksColors($quarternary-border, $quarternary-color, $secondary-color)
    }
    &-5 {
      @extend .kant-boks;
      @include boksColors($quinary-border, $quinary-color, $secondary-color)
    }
  }
}

//Typografi, her beskrives tekst font valget. 
#Typografi {
  display: flex;
  flex-direction: column;
  .font-type {
    margin: 5px;
    padding: 5px;
    .header-tekst p {
      font-size: 40px;
    }
    .sub-tekst p {
      font-size: 30px;
    }
  }
}

form {
  width: 50vmin;
  height: 50vmin;
  background-color: $primary-border;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  #form-bred {
    width: 48vmin;
    height: 6vmin;
    margin: 3px;
    padding: 3px;
    border-radius: 6px;
  }
  #form-kort {
    width: 23vmin;
    height: 6vmin;
    margin: 3px ;
    padding: 4px;
    border-radius: 6px;
    color: $primary-border;
  }
  #form-kort-venstre {
    width: 23vmin;
    height: 6vmin;
    margin: 3px;
    padding-left: 4px;
    border-radius: 6px;
    color: $primary-border;
  }
  #opret {
    width: 10vmin;
    height: 6vmin;
    margin: 5px;
    padding: 5px;
    background-color: $primary-color;
    border: 2px solid $secondary-color;
    border-radius: 6px;
    color: $secondary-color
  }
}

.top-menu-bar {
  display: flex;
  flex-direction: row;
  width: 340px;
  height: 60px;
  background-color: $secondary-color;
  border-bottom: 2px solid $secondary-border;
  .nav-img {
      padding: 3px;
      margin: 4px;
      padding-top: 9px;
    img {
      height: 35px;
    }
  }
  .side-titel {
    width: 300px;
    text-align: center;
    line-height: 0.6;
  }
}

.bot-menu-bar {
  display: flex;
  flex-direction: row;
  width: 340px;
  height: 60px;
  background-color: $secondary-color;
  border-bottom: 2px solid $secondary-border;
  text-align: center;
  margin: 4px;
  .ikon {
    padding: 3px;
    padding-right: 8px;
    margin: 10px;
    img {
      height: 35px;
    }
  }
}
