@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif; }
  * p {
    font-size: 2.3vmin; }
  * h1 {
    font-size: 6vmin; }
  * h2 {
    font-size: 4vmin; }
  * h3 {
    font-size: 3vmin; }
  * body {
    text-align: left;
    color: #212529; }

header {
  background-color: #013c2b;
  padding: 8vmin;
  text-align: left;
  font-size: 10vmin;
  color: #efefef;
  width: 175vmin;
  left: 35vmin;
  top: 0;
  position: absolute; }
  header h2 {
    font-size: 4vmin; }

nav {
  background-color: #047758;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 35vmin; }
  nav ul {
    list-style-type: none;
    padding: 1vmin;
    margin-top: 5vmin; }
    nav ul li {
      padding: 1vmin; }
      nav ul li a {
        padding: 2vmin 3vmin 2vmin 5vmin;
        text-decoration: none;
        font-size: 3vmin;
        color: #efefef;
        display: block; }

article {
  margin-left: 38vmin;
  /* Same as the width of the sidenav */
  font-size: 5vmin;
  /* Increased text to enable scrolling */
  padding: 0vmin 2vmin;
  top: 40vmin;
  position: absolute;
  width: 165vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

#Logoer {
  display: flex;
  flex-direction: column; }
  #Logoer .logo {
    display: flex;
    flex-wrap: wrap; }
    #Logoer .logo img {
      height: 40vmin;
      background-color: #013c2b;
      padding: 3vmin;
      margin: 2vmin;
      border-radius: 5vmin; }

#Farver {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #Farver .color-palette {
    padding: 1vmin; }
    #Farver .color-palette .tyrkis {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #Farver .color-palette .tyrkis .sort {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #013c2b;
        background-color: #013c2b;
        color: #efefef; }
      #Farver .color-palette .tyrkis .dark {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #068a81;
        background-color: #068a81;
        color: #efefef; }
      #Farver .color-palette .tyrkis .primær {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #63c1c4;
        background-color: #63c1c4;
        color: #efefef; }
      #Farver .color-palette .tyrkis .lys {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #84ccd4;
        background-color: #84ccd4;
        color: #013c2b; }
      #Farver .color-palette .tyrkis .hvid {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #c9e7eb;
        background-color: #c9e7eb;
        color: #013c2b; }
    #Farver .color-palette .green {
      display: flex;
      flex-wrap: wrap; }
      #Farver .color-palette .green .sort {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #013c2b;
        background-color: #013c2b;
        color: #efefef; }
      #Farver .color-palette .green .dark {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #047758;
        background-color: #047758;
        color: #efefef; }
      #Farver .color-palette .green .primær {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #50b795;
        background-color: #50b795;
        color: #efefef; }
      #Farver .color-palette .green .lys {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #79c5b2;
        background-color: #79c5b2;
        color: #013c2b; }
      #Farver .color-palette .green .hvid {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #b7ded7;
        background-color: #b7ded7;
        color: #013c2b; }
    #Farver .color-palette .blue {
      display: flex;
      flex-wrap: wrap; }
      #Farver .color-palette .blue .sort {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #062b37;
        background-color: #062b37;
        color: #efefef; }
      #Farver .color-palette .blue .dark {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #10556e;
        background-color: #10556e;
        color: #efefef; }
      #Farver .color-palette .blue .primær {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #159cc9;
        background-color: #159cc9;
        color: #efefef; }
      #Farver .color-palette .blue .lys {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #57c3e8;
        background-color: #57c3e8;
        color: #062b37; }
      #Farver .color-palette .blue .hvid {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #b8e1f2;
        background-color: #b8e1f2;
        color: #062b37; }
    #Farver .color-palette .purple {
      display: flex;
      flex-wrap: wrap; }
      #Farver .color-palette .purple .sort {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #161528;
        background-color: #161528;
        color: #efefef; }
      #Farver .color-palette .purple .dark {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #33315c;
        background-color: #33315c;
        color: #efefef; }
      #Farver .color-palette .purple .primær {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #5756a0;
        background-color: #5756a0;
        color: #efefef; }
      #Farver .color-palette .purple .lys {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #8a88c0;
        background-color: #8a88c0;
        color: #161528; }
      #Farver .color-palette .purple .hvid {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #d8d7ea;
        background-color: #d8d7ea;
        color: #161528; }
    #Farver .color-palette .pink {
      display: flex;
      flex-wrap: wrap; }
      #Farver .color-palette .pink .sort {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #281519;
        background-color: #281519;
        color: #efefef; }
      #Farver .color-palette .pink .dark {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #6a3944;
        background-color: #6a3944;
        color: #efefef; }
      #Farver .color-palette .pink .primær {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #aa6070;
        background-color: #aa6070;
        color: #efefef; }
      #Farver .color-palette .pink .lys {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #cea3ac;
        background-color: #cea3ac;
        color: #281519; }
      #Farver .color-palette .pink .hvid {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #f2e4e7;
        background-color: #f2e4e7;
        color: #281519; }
    #Farver .color-palette .ekstra {
      display: flex;
      flex-wrap: wrap; }
      #Farver .color-palette .ekstra .tyrkis-white {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #daeef1;
        background-color: #daeef1;
        color: #013c2b; }
      #Farver .color-palette .ekstra .green-white {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #cfe5e0;
        background-color: #cfe5e0;
        color: #013c2b; }
      #Farver .color-palette .ekstra .blue-white {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #daedf4;
        background-color: #daedf4;
        color: #062b37; }
      #Farver .color-palette .ekstra .purple-white {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #e3e2ee;
        background-color: #e3e2ee;
        color: #161528; }
      #Farver .color-palette .ekstra .pink-white {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #faf0f2;
        background-color: #faf0f2;
        color: #281519; }
      #Farver .color-palette .ekstra .white {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #efefef;
        background-color: #efefef;
        color: #212529; }
      #Farver .color-palette .ekstra .black {
        width: 30vmin;
        height: 25vmin;
        margin: 0.5vmin;
        padding: 0.5vmin;
        border-radius: 1vmin;
        border: 1vmin solid #212529;
        background-color: #212529;
        color: #efefef; }

.ikon-palette {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #efefef;
  border-radius: 3vmin;
  padding: 1vmin; }
  .ikon-palette .icon, .ikon-palette .icon-active, .ikon-palette .icon-cirkel, .ikon-palette .icon-passive, .ikon-palette .icon-billed, .ikon-palette .icon-andre {
    display: flex; }
    .ikon-palette .icon-active {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .ikon-palette .icon-cirkel {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .ikon-palette .icon-passive {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .ikon-palette .icon-billed {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .ikon-palette .icon-andre {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #013c2b;
      border-radius: 3vmin;
      padding: 1vmin;
      margin-top: 1vmin; }
  .ikon-palette .icon-andre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .ikon-palette img {
    width: 8vmin;
    height: 8vmin;
    padding: 0.3vmin;
    margin: 0.3vmin; }
  .ikon-palette .big-icon {
    width: 13vmin;
    height: 8vmin; }

button {
  width: 18vmin; }

.rund-button, .rund-button-1, .rund-button-2, .rund-button-3, .rund-button-4, .rund-button-5 {
  border-radius: 2vmin; }
  .rund-button-1 {
    border: 0.5vmin solid #efefef;
    background-color: #068a81;
    color: #efefef; }
    .rund-button-1 p {
      font-size: 1.8vmin; }
  .rund-button-2 {
    border: 0.5vmin solid #efefef;
    background-color: #047758;
    color: #efefef; }
    .rund-button-2 p {
      font-size: 1.8vmin; }
  .rund-button-3 {
    border: 0.5vmin solid #efefef;
    background-color: #10556e;
    color: #efefef; }
    .rund-button-3 p {
      font-size: 1.8vmin; }
  .rund-button-4 {
    border: 0.5vmin solid #efefef;
    background-color: #33315c;
    color: #efefef; }
    .rund-button-4 p {
      font-size: 1.8vmin; }
  .rund-button-5 {
    border: 0.5vmin solid #efefef;
    background-color: #6a3944;
    color: #efefef; }
    .rund-button-5 p {
      font-size: 1.8vmin; }

.kant-button, .kant-button-1, .kant-button-2, .kant-button-3, .kant-button-4, .kant-button-5 {
  border-radius: 5px; }
  .kant-button-1 {
    border: 0.5vmin solid #efefef;
    background-color: #068a81;
    color: #efefef; }
    .kant-button-1 p {
      font-size: 1.8vmin; }
  .kant-button-2 {
    border: 0.5vmin solid #efefef;
    background-color: #047758;
    color: #efefef; }
    .kant-button-2 p {
      font-size: 1.8vmin; }
  .kant-button-3 {
    border: 0.5vmin solid #efefef;
    background-color: #10556e;
    color: #efefef; }
    .kant-button-3 p {
      font-size: 1.8vmin; }
  .kant-button-4 {
    border: 0.5vmin solid #efefef;
    background-color: #33315c;
    color: #efefef; }
    .kant-button-4 p {
      font-size: 1.8vmin; }
  .kant-button-5 {
    border: 0.5vmin solid #efefef;
    background-color: #6a3944;
    color: #efefef; }
    .kant-button-5 p {
      font-size: 1.8vmin; }

.rund-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .rund-bokse .rund-boks, .rund-bokse .rund-boks-1, .rund-bokse .rund-boks-2, .rund-bokse .rund-boks-3, .rund-bokse .rund-boks-4, .rund-bokse .rund-boks-5 {
    border-radius: 2vmin; }
    .rund-bokse .rund-boks-1 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #013c2b;
      color: #efefef; }
    .rund-bokse .rund-boks-2 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #013c2b;
      color: #efefef; }
    .rund-bokse .rund-boks-3 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #062b37;
      color: #efefef; }
    .rund-bokse .rund-boks-4 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #161528;
      color: #efefef; }
    .rund-bokse .rund-boks-5 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #281519;
      color: #efefef; }

.kant-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .kant-bokse .kant-boks, .kant-bokse .kant-boks-1, .kant-bokse .kant-boks-2, .kant-bokse .kant-boks-3, .kant-bokse .kant-boks-4, .kant-bokse .kant-boks-5 {
    border-radius: 1vmin; }
    .kant-bokse .kant-boks-1 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #013c2b;
      color: #efefef; }
    .kant-bokse .kant-boks-2 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #013c2b;
      color: #efefef; }
    .kant-bokse .kant-boks-3 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #062b37;
      color: #efefef; }
    .kant-bokse .kant-boks-4 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #161528;
      color: #efefef; }
    .kant-bokse .kant-boks-5 {
      width: 40vmin;
      margin: 1vmin;
      padding: 1.5vmin;
      border: 0.5vmin solid #efefef;
      background-color: #281519;
      color: #efefef; }

#Typografi {
  display: flex;
  flex-direction: column; }
  #Typografi .font-type .header-tekst p {
    font-size: 2.5vmin; }
  #Typografi .font-type .sub-tekst p {
    font-size: 2vmin; }

form {
  width: 50vmin;
  background-color: #013c2b;
  padding: 1vmin;
  text-align: center;
  border-radius: 2vmin; }
  form #form-boks {
    width: 46vmin;
    height: 5vmin;
    margin-top: 2vmin;
    padding: 1vmin;
    border-radius: 1vmin;
    color: #047758; }
    form #form-boks-kort {
      width: 22vmin;
      height: 5vmin;
      padding: 1vmin;
      margin-top: 2vmin;
      border-radius: 1vmin;
      color: #047758; }
  form #Opret {
    background-color: #047758;
    color: #efefef;
    border: 0.3vmin solid #efefef;
    border-radius: 1vmin;
    width: 10vmin;
    margin-top: 1vmin;
    padding: 0.5vmin; }

.top-menu-bar {
  display: flex;
  flex-direction: row;
  width: 70vmin;
  height: 10vmin;
  background-color: #efefef;
  border-bottom: 1vmin solid #efefef; }
  .top-menu-bar .nav-img {
    padding: 1vmin;
    margin: 1vmin;
    padding-top: 1vmin; }
    .top-menu-bar .nav-img img {
      height: 6vmin; }
  .top-menu-bar .side-titel {
    width: 50vmin;
    text-align: center;
    line-height: 1.1; }

.bot-menu-bar {
  display: flex;
  flex-direction: row;
  width: 70vmin;
  height: 10vmin;
  background-color: #efefef;
  border-bottom: 1vmin solid #efefef; }
  .bot-menu-bar .ikon {
    padding: 1vmin;
    margin: 1vmin;
    margin-right: 5vmin;
    padding-top: 1vmin; }
    .bot-menu-bar .ikon img {
      height: 6vmin; }

.code {
  background-color: #efefef;
  padding: 1vmin;
  border-radius: 1vmin; }
  .code code {
    font-size: 2.3vmin; }

/*# sourceMappingURL=style.css.map */
