$primary-color: #00454E; //Mørk blå
$secondary-color: #3C6E71; //Grøn (tyrkis)
$tertiary-color: #353535; //Sort grå
$quarternary-color: #D9D9D9; // Lys grå
$quinary-color: #F2F1ED; //Hvid

* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    p {
      font-size: 15px;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
}
* h  body {
  text-align: center;
}

header {
  background-color: $primary-color;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: $quinary-color;
}
  
nav {
  background-color: $quarternary-color;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
      ul {
          list-style-type: none;
          padding: 5px;
          margin-top: 10px;
          li {
              padding: 2%;
              a {
                  padding: 6px 8px 6px 16px;
                  text-decoration: none;
                  font-size: 23px;
                  color: $primary-color;
                  display: block;
              }
          }
      }
}
  
article {
  margin-left: 28%; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

#Farver {
  display: flex;
  flex-direction: column;
  .color-palette {
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .dark-grey {
      margin: 3px;
      padding: 3px;
      background-color: $tertiary-color;
      color: $quinary-color;
    }
    .cyan {
      margin: 3px;
      padding: 3px;
      background-color: $secondary-color;
      color: $quinary-color;
    }
    .grey-yellow {
      margin: 3px;
      padding: 3px;
      background-color: $quinary-color;
      color: $tertiary-color;
    }
    .light-grey {
      margin: 3px;
      padding: 3px;
      background-color: $quarternary-color;
      color: $tertiary-color;
    }
    .blue {
      margin: 3px;
      padding: 3px;
      background-color: $primary-color;
      color: $quinary-color;
    }
  }
}

.ikon-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #B8B5B5;
  border-radius: 10px;
  padding: 3px;
  margin: 3px;
  img {
    width: 15vmin;
    height: 15vmin;
    padding: 3px;
    margin: 3px;
  }
}

button {
  width: 25vmin;
  height: 8vmin;
}
//Afrrundede knapper
  .rund-button-1 {
    border-radius: 25px;
    background-color: $primary-color;
    color: $quinary-color;
  }
  .rund-button-2 {
    border-radius: 25px;
    background-color: $secondary-color;
    color: $quinary-color;
  }
  .rund-button-3 {
    border-radius: 25px;
    background-color: $tertiary-color;
    color: $quinary-color;
  }
  .rund-button-4 {
    border-radius: 25px;
    background-color: $quarternary-color;
    color: $tertiary-color;
  }
  .rund-button-5 {
    border-radius: 25px;
    background-color: $quinary-color;
    color: $tertiary-color;
  }
  // Kantede knapper
  .kant-button-1 {
    border-radius: 5px;
    background-color: $primary-color;
    color: $quinary-color;
  }
  .kant-button-2 {
    border-radius: 5px;
    background-color: $secondary-color;
    color: $quinary-color;
  }
  .kant-button-3 {
    border-radius: 5px;
    background-color: $tertiary-color;
    color: $quinary-color;
  }
  .kant-button-4 {
    border-radius: 5px;
    background-color: $quarternary-color;
    color: $tertiary-color;
  }
  .kant-button-5 {
    border-radius: 5px;
    background-color: $quinary-color;
    color: $tertiary-color;
  }

.rund-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .rund-boks-1 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #1B3243;
    border-radius: 10px;
    background-color: $primary-color;
    color: $quinary-color;
  }
  .rund-boks-2 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #244244;
    border-radius: 10px;
    background-color: $secondary-color;
    color: $quinary-color;
  }
  .rund-boks-3 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #0F0E0E;
    border-radius: 10px;
    background-color: $tertiary-color;
    color: $quinary-color;
  }
  .rund-boks-4 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #B8B5B5;
    border-radius: 10px;
    background-color: $quarternary-color;
    color: $tertiary-color;
  }
  .rund-boks-5 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #D8D7D4;
    border-radius: 10px;
    background-color: $quinary-color;
    color: $tertiary-color;
  }
}

.kant-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .kant-boks-1 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #1B3243;
    border-radius: 3px;
    background-color: $primary-color;
    color: $quinary-color;
  }
  .kant-boks-2 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #244244;
    border-radius: 3px;
    background-color: $secondary-color;
    color: $quinary-color;
  }
  .kant-boks-3 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #0F0E0E;
    border-radius: 3px;
    background-color: $tertiary-color;
    color: $quinary-color;
  }
  .kant-boks-4 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #B8B5B5;
    border-radius: 3px;
    background-color: $quarternary-color;
    color: $tertiary-color;
  }
  .kant-boks-5 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #D8D7D4;
    border-radius: 3px;
    background-color: $quinary-color;
    color: $tertiary-color;
  }
}

//Typografi, her beskrives tekst font valget. 
#Typografi {
  display: flex;
  flex-direction: column;
  .font-type {
    margin: 5px;
    padding: 5px;
    .header-tekst p {
      font-size: 40px;
    }
    .sub-tekst p {
      font-size: 30px;
    }
  }
}