
//FARVER
    //tyrkis
$black-tyrkis: #013c2b; 
$dark-tyrkis: #068a81; 
$primary-tyrkis: #63c1c4; 
$light-tyrkis: #84ccd4; 
$white-tyrkis: #c9e7eb; 
    //green 
$black-green: #013c2b; 
$dark-green: #047758; 
$primary-green: #50b795; 
$light-green: #79c5b2; 
$white-green: #b7ded7;
    //blue
$black-blue: #062b37; 
$dark-blue: #10556e; 
$primary-blue: #159cc9; 
$light-blue: #57c3e8; 
$white-blue: #b8e1f2;
    //purple
$black-purple: #161528; 
$dark-purple: #33315c; 
$primary-purple: #5756a0;
$light-purple: #8a88c0;
$white-purple: #d8d7ea;
    //pink
$black-pink: #281519; 
$dark-pink: #6a3944; 
$primary-pink: #aa6070; 
$light-pink: #cea3ac; 
$white-pink: #f2e4e7;
    //ekstra lys
$tyrkis-white: #daeef1;
$green-white: #cfe5e0;
$blue-white: #daedf4;
$purple-white: #e3e2ee;
$pink-white:  #faf0f2;
    //andre
$hvid: #efefef; // hvid
$sort: #212529; // sort

//Mixin, bruges til at optimere koden. 
@mixin farveBokse($farveColor: black, $farveBackground: white, $farveText: Yellow) {
  width: 30vmin;
  height: 25vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  border-radius: 1vmin;
  border: 1vmin solid $farveColor;
  background-color: $farveBackground;
  color: $farveText;
}
@mixin ikonBokse($direction: row, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin buttonColors($color: Black, $background: White, $textColor: Yellow) {
  border: 0.5vmin solid $color;
  background-color: $background;
  color: $textColor;
  p {
    font-size: 1.8vmin;
  }
}
@mixin boksColors($boksBackground: white, $boksBorder: black, $boksText: Yellow) { 
  padding: 1.5vmin;
  background-color: $boksBackground;
  color: $boksText;
  border-width: 1.5vmin 1.5vmin 0.6vmin 0.6vmin;
  border-style: solid;
  border-color: $boksBorder;
}

* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    p {
      font-size: 2.3vmin;
    }
    h1 {
      font-size: 6vmin;
    }
    h2 {
      font-size: 4vmin;
    }
    h3 {
      font-size: 3vmin;
    }
    & body{
      text-align: left;
      color: $sort;
    }
    
}

header {
  background-color: $black-green;
  padding: 8vmin;
  text-align: left;
  font-size: 10vmin;
  color: $hvid;
  width: 175vmin;
  left: 35vmin;
  top: 0;
  position: absolute;
  h2 {
    font-size: 4vmin;
  }
}
  
nav {
  background-color: $dark-green;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 35vmin;
      ul {
          list-style-type: none;
          padding: 1vmin;
          margin-top: 2vmin;
          li {
              padding: 1vmin;
              a {
                  padding: 1.6vmin;
                  text-decoration: none;
                  font-size: 3vmin;
                  color: $hvid;
                  display: block;
              }
          }
      }
}
  
section {
  margin-left: 30vmin; 
  font-size: 5vmin; 
  padding: 0vmin 1vmin;
  top: 40vmin;
  position: absolute;
  width: 165vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  article {
    width: 160vmin;
    margin-left: 10vmin;
  }
}

#Logoer {
  display: flex;
  flex-direction: column;
  .logo {
    display: flex;
    flex-wrap: wrap;
    img {
    height: 40vmin;
    background-color: $black-green;
    padding: 3vmin;
    margin: 2vmin;
    border-radius: 5vmin;
    }
  }
}

#Farver {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .color-palette {
    padding: 1vmin;
    .tyrkis {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .sort {
        @include farveBokse($black-tyrkis, $black-tyrkis, $hvid);
      }
      .dark {
        @include farveBokse($dark-tyrkis, $dark-tyrkis, $hvid);
      }
      .primær {
        @include farveBokse($primary-tyrkis, $primary-tyrkis, $hvid);
      }
      .lys {
        @include farveBokse($light-tyrkis, $light-tyrkis, $black-tyrkis);
      }
      .hvid {
        @include farveBokse($white-tyrkis, $white-tyrkis, $black-tyrkis);
      }
    }
    .green {
      display: flex;
      flex-wrap: wrap;
      .sort {
        @include farveBokse($black-green, $black-green, $hvid);
      }
      .dark {
        @include farveBokse($dark-green, $dark-green, $hvid);
      }
      .primær {
        @include farveBokse($primary-green,$primary-green, $hvid);
      }
      .lys {
        @include farveBokse($light-green,$light-green, $black-green);
      }
      .hvid {
        @include farveBokse($white-green,$white-green, $black-green);
      }
    }
    .blue {
      display: flex;
      flex-wrap: wrap;
      .sort {
        @include farveBokse($black-blue,$black-blue, $hvid);
      }
      .dark {
        @include farveBokse($dark-blue, $dark-blue, $hvid);
      }
      .primær {
        @include farveBokse($primary-blue, $primary-blue, $hvid);
      }
      .lys {
        @include farveBokse($light-blue, $light-blue, $black-blue);
      }
      .hvid {
        @include farveBokse($white-blue, $white-blue, $black-blue);
      }
    }
    .purple {
      display: flex;
      flex-wrap: wrap;
      .sort {
        @include farveBokse($black-purple, $black-purple, $hvid);
      }
      .dark {
        @include farveBokse($dark-purple, $dark-purple, $hvid);
      }
      .primær {
        @include farveBokse($primary-purple, $primary-purple, $hvid);
      }
      .lys {
        @include farveBokse($light-purple, $light-purple, $black-purple);
      }
      .hvid {
        @include farveBokse($white-purple, $white-purple, $black-purple);
      }
    }
    .pink {
      display: flex;
      flex-wrap: wrap;
      .sort {
        @include farveBokse($black-pink, $black-pink, $hvid);
      }
      .dark {
        @include farveBokse($dark-pink, $dark-pink, $hvid);
      }
      .primær {
        @include farveBokse($primary-pink, $primary-pink, $hvid);
      }
      .lys {
        @include farveBokse($light-pink, $light-pink, $black-pink);
      }
      .hvid {
        @include farveBokse($white-pink, $white-pink, $black-pink);
      }
    }
    .ekstra {
      display: flex;
      flex-wrap: wrap;
      .tyrkis-white {
        @include farveBokse($tyrkis-white, $tyrkis-white, $black-tyrkis);
      }
      .green-white {
        @include farveBokse($green-white, $green-white, $black-green);
      }
      .blue-white {
        @include farveBokse($blue-white, $blue-white, $black-blue);
      }
      .purple-white {
        @include farveBokse($purple-white, $purple-white, $black-purple);
      }
      .pink-white {
        @include farveBokse($pink-white, $pink-white, $black-pink);
      }
      .white {
        @include farveBokse($hvid, $hvid, $sort);
      }
      .black {
        @include farveBokse($sort, $sort, $hvid);
      }
    }
  }
}

.ikon-palette {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $hvid;
  border-radius: 3vmin;
  padding: 1vmin;
  .icon {
    display: flex;
    &-active {
      @extend .icon;
      @include ikonBokse(row, wrap);
    }
    &-cirkel {
      @extend .icon;
      @include ikonBokse(row, wrap);
    }
    &-passive {
      @extend .icon;
      @include ikonBokse(row, wrap);
    }
    &-billed {
      @extend .icon;
      @include ikonBokse(row, wrap);
    }
    &-andre {
      @extend .icon;
      @include ikonBokse(row, wrap);
      background-color: $black-green;
      border-radius: 3vmin;
      padding: 1vmin;
      margin-top: 1vmin;
    }
  }
  .icon-andre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  img {
    width: 8vmin;
    height: 8vmin;
    padding: 0.3vmin;
    margin: 0.3vmin;
  }
  .big-icon {
    width: 13vmin; 
    height: 8vmin;
  }
}

button {
  width: 18vmin;
}
//Afrrundede knapper
.rund-button {
  border-radius: 2vmin;  
  &-1 {
    @extend .rund-button;
    @include buttonColors($hvid, $dark-tyrkis, $hvid);
  }
  &-2 {
    @extend .rund-button;
    @include buttonColors($hvid, $dark-green, $hvid);
  }
  &-3 {
    @extend .rund-button;
    @include buttonColors($hvid, $dark-blue,$hvid);
  }
  &-4 {
    @extend .rund-button;
    @include buttonColors($hvid, $dark-purple, $hvid);
  }
  &-5 {
    @extend .rund-button;
    @include buttonColors($hvid, $dark-pink, $hvid);
  }
}
// Kantede knapper
.kant-button {
  border-radius: 5px;
  &-1 {
    @extend .kant-button;
    @include buttonColors($hvid, $dark-tyrkis, $hvid);
  }
  &-2 {
    @extend .kant-button;
    @include buttonColors($hvid, $dark-green, $hvid);
  }
  &-3 {
    @extend .kant-button;
    @include buttonColors($hvid, $dark-blue, $hvid);
  }
  &-4 {
    @extend .kant-button;
    @include buttonColors($hvid, $dark-purple, $hvid);
  }
  &-5 {
    @extend .kant-button;
    @include buttonColors($hvid, $dark-pink, $hvid);
  }
}

.rund-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .rund-boks {
    border-radius: 3vmin;
    margin: 1vmin;
    &-tyrkis {
      @extend .rund-boks;
      @include boksColors($hvid, $dark-tyrkis ,$black-tyrkis);
    }
    &-green {
      @extend .rund-boks;
      @include boksColors($hvid, $dark-green, $black-green);
    }
    &-blue {
      @extend .rund-boks;
      @include boksColors($hvid, $dark-blue, $black-blue);
    }
    &-purple {
      @extend .rund-boks;
      @include boksColors($hvid, $dark-purple, $black-purple);
    }
    &-pink {
      @extend .rund-boks;
      @include boksColors($hvid, $dark-pink, $black-pink);
    }
  }
}

.kant-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .kant-boks {
    border-radius: 1vmin;
    margin: 1vmin;
    &-tyrkis {
      @extend .kant-boks;
      @include boksColors($hvid, $dark-tyrkis, $black-tyrkis);
    }
    &-green {
      @extend .kant-boks;
      @include boksColors($hvid, $dark-green, $black-green);
    }
    &-blue {
      @extend .kant-boks;
      @include boksColors($hvid, $dark-blue, $black-blue);
    }
    &-purple {
      @extend .kant-boks;
      @include boksColors($hvid, $dark-purple, $black-purple);
    }
    &-pink {
      @extend .kant-boks;
      @include boksColors($hvid, $dark-pink, $black-pink);
    }
  }
}

//Typografi, her beskrives tekst font valget. 
#Typografi {
  display: flex;
  flex-direction: column;
  .font-type {
    .header-tekst p {
      font-size: 2.5vmin;
    }
    .sub-tekst p {
      font-size: 2vmin;
    }
  }
}

#Billeder {
  display: flex;
  flex-direction: column;
  .img-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    img {
      height: 50vmin;
    }
  }
}

form {
  width: 50vmin;
  background-color: $black-green;
  padding: 1vmin;
  text-align: center;
  border-radius: 2vmin;
  #form-boks {
    width: 46vmin;
    height: 5vmin;
    margin-top: 2vmin;
    padding: 1vmin;
    border-radius: 1vmin;
    color: $dark-green;
      &-kort{
      width: 22vmin;
      height: 5vmin;
      padding: 1vmin;
      margin-top: 2vmin;
      border-radius: 1vmin;
      color: $dark-green;
    }
  }
  #Opret {
    background-color: $dark-green;
    color: $hvid;
    border: 0.3vmin solid $hvid;
    border-radius: 1vmin;
    width: 10vmin;
    margin-top: 1vmin;
    padding: 0.5vmin;
  }
}

.top-menu-bar {
  display: flex;
  flex-direction: row;
  width: 70vmin;
  height: 10vmin;
  background-color: $hvid;
  border-bottom: 1vmin solid $hvid;
  .nav-img {
      padding: 1vmin;
      margin: 1vmin;
      padding-top: 1vmin;
    img {
      height: 6vmin;
    }
  }
  .side-titel {
    width: 50vmin;
    text-align: center;
    line-height: 1.1;
  }
}

.bot-menu-bar {
  display: flex;
  flex-direction: row;
  width: 70vmin;
  height: 10vmin;
  background-color: $hvid;
  border-bottom: 1vmin solid $hvid;
  .ikon {
    padding: 1vmin;
    margin: 1vmin;
    margin-right: 5vmin;
    padding-top: 1vmin;
    img {
      height: 6vmin;
    }
  }
}

.code {
  background-color: $hvid;
  padding: 1vmin;
  border-radius: 1vmin;
  code {
    font-size: 2.3vmin;
  }
}
.footer {
  height: 10vmin;
  width: 175vmin;
  left: 0;
  margin-left: 0;
  background-color: $black-green;
  color: $hvid;
  text-align: center;
  padding: 1vmin;
}