* {
    box-sizing: border-box;
  }
  * h
  body {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
  }
  
  header {
    background-color: #00454E;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  nav {
    background-color: #CAE4E3;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    width: 25%;
  }
  
  nav ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 10px;
  }
  
  li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 23px;
    color: #00454E;
    display: block;
  }
  
  li {
    padding: 2%;
  }
  
  article {
    margin-left: 28%; /* Same as the width of the sidenav */
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }