@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif; }
  * p {
    font-size: 15px; }
  * h1 {
    font-size: 40px; }
  * h2 {
    font-size: 30px; }

* h body {
  text-align: center; }

header {
  background-color: #8CC588;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #F2F1ED; }

nav {
  background-color: #D9D9D9;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 25%; }
  nav ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 10px; }
    nav ul li {
      padding: 2%; }
      nav ul li a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 23px;
        color: #353535;
        display: block; }

article {
  margin-left: 28%;
  /* Same as the width of the sidenav */
  font-size: 18px;
  /* Increased text to enable scrolling */
  padding: 0px 10px; }

section::after {
  content: "";
  display: table;
  clear: both; }

#Farver {
  display: flex;
  flex-direction: column; }
  #Farver .color-palette {
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #Farver .color-palette .primær {
      margin: 3px;
      padding: 3px;
      background-color: #8CC588;
      color: #F2F1ED; }
    #Farver .color-palette .sekundær {
      margin: 3px;
      padding: 3px;
      background-color: #F2F1ED;
      color: #353535; }
    #Farver .color-palette .tertiær {
      margin: 3px;
      padding: 3px;
      background-color: #D9D9D9;
      color: #353535; }
    #Farver .color-palette .kontrast-1 {
      margin: 3px;
      padding: 3px;
      background-color: #353535;
      color: #F2F1ED; }
    #Farver .color-palette .kontrast-2 {
      margin: 3px;
      padding: 3px;
      background-color: #E781B0;
      color: #F2F1ED; }

.ikon-palette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F2F1ED;
  border-radius: 10px;
  padding: 3px;
  margin: 3px; }
  .ikon-palette img {
    width: 15vmin;
    height: 15vmin;
    padding: 3px;
    margin: 3px; }

button {
  width: 25vmin;
  height: 8vmin; }

.rund-button-1 {
  border-radius: 25px;
  background-color: #8CC588;
  color: #E781B0; }

.rund-button-2 {
  border-radius: 25px;
  background-color: #F2F1ED;
  color: #E781B0; }

.rund-button-3 {
  border-radius: 25px;
  background-color: #D9D9D9;
  color: #E781B0; }

.rund-button-4 {
  border-radius: 25px;
  background-color: #353535;
  color: #D9D9D9; }

.rund-button-5 {
  border-radius: 25px;
  background-color: #E781B0;
  color: #D9D9D9; }

.kant-button-1 {
  border-radius: 5px;
  background-color: #8CC588;
  color: #E781B0; }

.kant-button-2 {
  border-radius: 5px;
  background-color: #F2F1ED;
  color: #E781B0; }

.kant-button-3 {
  border-radius: 5px;
  background-color: #D9D9D9;
  color: #E781B0; }

.kant-button-4 {
  border-radius: 5px;
  background-color: #353535;
  color: #D9D9D9; }

.kant-button-5 {
  border-radius: 5px;
  background-color: #E781B0;
  color: #D9D9D9; }

.rund-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .rund-bokse .rund-boks-1 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #1B3243;
    border-radius: 10px;
    background-color: #8CC588;
    color: #E781B0; }
  .rund-bokse .rund-boks-2 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #244244;
    border-radius: 10px;
    background-color: #F2F1ED;
    color: #E781B0; }
  .rund-bokse .rund-boks-3 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #0F0E0E;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #E781B0; }
  .rund-bokse .rund-boks-4 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #B8B5B5;
    border-radius: 10px;
    background-color: #353535;
    color: #D9D9D9; }
  .rund-bokse .rund-boks-5 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #D8D7D4;
    border-radius: 10px;
    background-color: #E781B0;
    color: #D9D9D9; }

.kant-bokse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .kant-bokse .kant-boks-1 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #1B3243;
    border-radius: 3px;
    background-color: #8CC588;
    color: #E781B0; }
  .kant-bokse .kant-boks-2 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #244244;
    border-radius: 3px;
    background-color: #F2F1ED;
    color: #E781B0; }
  .kant-bokse .kant-boks-3 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #0F0E0E;
    border-radius: 3px;
    background-color: #D9D9D9;
    color: #E781B0; }
  .kant-bokse .kant-boks-4 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #B8B5B5;
    border-radius: 3px;
    background-color: #353535;
    color: #D9D9D9; }
  .kant-bokse .kant-boks-5 {
    width: 40vmin;
    height: 20vmin;
    margin: 3px;
    padding: 3px;
    border: 3px solid #D8D7D4;
    border-radius: 3px;
    background-color: #E781B0;
    color: #D9D9D9; }

#Typografi {
  display: flex;
  flex-direction: column; }
  #Typografi .font-type {
    margin: 5px;
    padding: 5px; }
    #Typografi .font-type .header-tekst p {
      font-size: 40px; }
    #Typografi .font-type .sub-tekst p {
      font-size: 30px; }

form {
  width: 50vmin;
  height: 50vmin;
  background-color: #353535;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 6px; }
  form #form-bred {
    width: 48vmin;
    height: 6vmin;
    margin: 3px;
    padding: 3px;
    border-radius: 6px; }
  form #form-kort {
    width: 23vmin;
    height: 6vmin;
    margin: 3px;
    padding: 4px;
    border-radius: 6px; }
  form #form-kort-venstre {
    width: 23vmin;
    height: 6vmin;
    margin: 3px;
    padding-left: 4px;
    border-radius: 6px; }
  form #opret {
    width: 10vmin;
    height: 6vmin;
    margin: 5px;
    padding: 5px;
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    color: #E781B0; }

/*# sourceMappingURL=style.css.map */
